# Drizzle
DATABASE_URL="file:./db.sqlite"

# Placeholders for SingleStore configuration
SINGLESTORE_USER="your_singlestore_user"
SINGLESTORE_PASS="your_singlestore_password"
SINGLESTORE_HOST="your_host.svc.singlestore.com"
SINGLESTORE_PORT=3333
SINGLESTORE_DB_NAME="your_db_name"